<% content_for :title do %>
  QSO HAM Radio
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "website",
               :title => "QSO HAM Radio",
               :url => request.url,
               :description => "",
               :canonical => request.url,
               :og_title => "QSO HAM Radio",
               :og_description => ""
            } %>
<% end %>

  <div class="jumbotron">
    <h1>QSO HAM Logbook</h1>
    <p class="lead">The easiest way to log your QSO</p>
    <% if user_signed_in? %>
      <p><%= link_to "Manage account", settings_path, class: 'btn btn-lg btn-success' %></p>
    <% else %>
      <p><%= link_to "Sign up today", register_path, class: 'btn btn-lg btn-success' %></p>
    <% end %>
  </div>

  <!-- <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div> -->
