@import "font";

/* Space out content a bit */
body {
  font-family: "ProximaNovaRegular", "helvetica neue", helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.btn-logout {
  color: #777;
  background-color: transparent;
  border-color: transparent;
}

.btn-logout:hover,
.btn-logout:focus,
.btn-logout:active {
  color: #999;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

section#login-form {
	padding-bottom: 20px;
}

section#register-form {
	padding-bottom: 20px;
}
//
// section#password-form {
// 	padding-top: 180px;
// }

section#login-form p,
section#register-form p,
section#password-form p {
	font-size: 16px;
}

section#login-form p a,
section#register-form p a,
section#password-form p a {
	font-weight: 600;
}

#login-form .form-box,
#register-form .form-box,
#password-form .form-box {
	background-color: #ffffff;
	padding: 0 20px;
	border-radius: 6px;
  border: 1px solid #e1e1e1;
}

// #login-form .form-box .page-header,
// #register-form .form-box .page-header,
// #password-form .form-box .page-header {
// 	padding-top: 10px;
// }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
