@import "font";

body {
  font-family: "ProximaNovaRegular", "helvetica neue", helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

.btn-logout {
  color: #777;
  background-color: transparent;
  border-color: transparent;
}

.btn-logout:hover,
.btn-logout:focus,
.btn-logout:active {
  color: #999;
}
