<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="#">About</a><li role="presentation">
      <li role="presentation"><a href="#">Contact</a></li>
      <% if user_signed_in? %>
        <li role="presentation">
          <%= link_to "Go to dashboard", dashboard_path, class: 'btn btn-link' %>
        </li>
        <li role="presentation">
          <%= link_to destroy_user_session_path, method: "delete", class: 'btn btn-logout' do %>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          <% end %>
        </li>
      <% else %>
        <li role="presentation"><%= link_to "Login", login_path, class: 'btn btn-default btn-sm' %></li>
      <% end %>
    </ul>
  </nav>
  <h3 class="text-muted">QSO HAM Logbook</h3>
</div>
